# Edit data files with Pandas library

designed and developed by Eugenio Tufino and Micol Alemani


Modifying data files is a nontrivial operation to perform. Various errors may arise due to the various data file formats, the program used (MS Excel or  others), the use of comma or point to indicate the decimal point or the presence of missing values (NaN), etc.
The Pandas library allows you to make all the necessary changes to your original data file. In this brief Notebook we will show you some examples of importing a .txt. file with Pandas, editing it and then export it to excel or .csv format.

This notebook describes these examples assuming one uses Anaconda Jupiter Lab. If you use Google Colab, you must import the file in the Notebook from your Google Drive or directly from your computer as discussed in the Notebook about file import with pandas.

In [ ]:
# as always we import at the beginning of the notebook all the packages we need
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

We read the data file using the function 'pd.read()' and create a pandas dataframe:

In [ ]:
df=pd.read_csv("Therm_prova.txt")

We take here a look at the data (the first 5 rows):

In [ ]:
df.head()

   index   frame   sample      time   raw[0]   cal[0]
0      0      10        0  0.019796    16064  22.5907
1      1      11        0  0.039591    16064  22.5907
2      2      13        0  0.059387    16034  22.0563
3      3      15        0  0.079182    16081  22.8935
4      4      17        0  0.098977    16059  22.5016

We see from the table, that we have more data that what we are actually interested in. We decide we want to keep only the rows 'time' and 'cal[0]' (which is the reading from a temperature sensor in 째C) and remove the other columns. For this we will need to write the exact name of the columns we want to remove. To make sure we do not do mistakes, we decide to let us print out the exact name of the columns.
For this we use here the command 'df.columns':

In [ ]:
df.columns

Index(['index', ' frame', ' sample', ' time', ' raw[0]', ' cal[0]'], dtype='object')

Now the we now exactly the name of the colums we can remove the unwanted columns using the command 'df.drop'. We assing a new data frame to the new file.

In [ ]:
df_2=df.drop(['index', ' frame', ' sample', ' raw[0]'], axis=1)

We now inspect the new data frame and let print the first columns:

In [ ]:
df_2.head()

       time   cal[0]
0  0.019796  22.5907
1  0.039591  22.5907
2  0.059387  22.0563
3  0.079182  22.8935
4  0.098977  22.5016

As expected the data file has now only the two desired columns. Though we do not like the names of those columns, so we decide to change their names using the following code:

In [ ]:
df_2.columns = ['Time(s)', 'Temperature (째C)']

Again we take a look of the results of our data handling:

In [ ]:
df_2.head()

    Time(s)  Temperature (째C)
0  0.019796           22.5907
1  0.039591           22.5907
2  0.059387           22.0563
3  0.079182           22.8935
4  0.098977           22.5016

Now we are satisfied with our data file, but we want to export it to .csv or .xlsx. We use for this the following code:

In [ ]:
df_2.to_csv('datafile_temperature.csv', sep ='\t',index=False)

In [ ]:
df_2.to_excel('datafile_temperaturev2.xlsx',index=False)

We should now see the created file in our working folder :-)!

#For Instructors only
Thank you for your interest in our activities and publications. We hope these notebooks will be helpful. If you decide to use them, we would appreciate being informed. Please don't hesitate to reach out for any additional information or clarification.